.loginInput{
	
	-fx-border-style: hidden hidden solid hidden; 
	
	-fx-border-width: 3px;
	
	-fx-border-color: white; 
	
	-fx-background-color: none; 
	
	-fx-text-fill: white; 
	
	
}

.loginButton{
	
	-fx-font-weight: bolder;
	
	
}

.notify{
	
	
	-fx-text-fill: red;
	
	
}

.registerInput{
	
	-fx-border-style: hidden hidden solid hidden; 
	
	-fx-border-width: 3px;
	
	-fx-border-color: black; 
	
	-fx-background-color: none; 
	
	-fx-text-fill: black; 
	
	
}

.passwordRecover{
	
	-fx-border-style: hidden hidden solid hidden; 
	
	-fx-border-width: 3px;
	
	-fx-border-color: white; 
	
	-fx-background-color: none; 
	
	-fx-text-fill: white; 
	
	
}

.mainMenuButton{
	
	
}
.table-view{
 }



.table-view .column-header {
     -fx-background-color: black;
     -fx-alignment:center;
     -fx-font-size:17px;           
     
} 



.table-view .column-header-background .label{
    -fx-background-color: black; 
    -fx-font-weight:bolder;
    -fx-text-fill: white;
}

.table-view .table-column{
    -fx-alignment:center;
}


.table-view .table-cell{
    -fx-font-weight:bold;
    -fx-font-size:15px;           
    -fx-text-fill:black;

}

registerInput{
	
	-fx-border-style: hidden hidden solid hidden; 
	
	-fx-border-width: 3px;
	
	-fx-border-color: black; 
	
	-fx-background-color: none; 
	
	-fx-text-fill: white; 
	
	
}